{% set spreadsheet_url = "https://docs.google.com/spreadsheets/d/" + spreadsheet_id + "/" %}
{% set source_url = "https://github.com/jmlrt/spreadsheet-api" %}
<html>
  <head>
    <title>spreadsheet-api</title>
  </head>
  <body>
    <h1>spreadsheet-api</h1>
    <p>
      Generated REST API for <a href={{ spreadsheet_url }}>{{ spreadsheet_url }}</a>
    </p>
    <p>
      Source: <a href={{ source_url }}>{{ source_url }}</a>
    </p>
    <p>
      Routes:
      <ul>
        <li>
          <code>/api/v1/keys</code>: list of spreadsheet keys
        </li>
        <li>
          <code>/api/v1/row/&ltkey&gt</code>: list of spreadsheet values for a
          key
        </li>
      </ul>
    </p>
  </body>
</html>
